<div class="devise-container">
<div>
    <%= image_tag User.find(current_user.id).avatar, class: "profile-image profile" %>
    <h1 class="profile">Adam Demirel</h1> <%# TODO: make this dynamic %>
</div>

<h2>Your Services</h2>

<h2>Reviews Left</h2>
</div>