/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
 // Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Questrial');

.body {
    margin: 100px 0 0 0;
    padding: 0; 

    a:hover {
        background-color: transparent; // resets bootstrap's black background color
        text-decoration: none; }}

.alert {
    width: 25%;
    margin: 5em auto 1em;
    text-align: center; }

.devise-container, .form-group {
    margin: 0 auto; 
    width: 35%; }

.margin-bottom {
    margin-bottom: 1em; }

.hide {
    display: none;
} 

.field_with_errors {	
  padding: 2px;	
  background-color: red;	
  display: table;	}	

#error_explanation {	
  width: 450px;	
  padding: 7px 7px 0;	
  margin-bottom: 20px;	
  background-color: #f0f0f0;	
  border: 2px solid red;	
  
  h2 {	
   text-align: left;	
   font-weight: bold;	
   padding: 5px 5px 5px 15px;	
   font-size: 12px;	
   margin: -7px -7px 0;	
   background-color: #c00;	
   color: #fff;	}	

  ul li {	
      font-size: 12px;	
      list-style: square; }}
    
a {	
    color: #000;	
     &:visited {	
      color: #666;	
    }	
     &:hover {	
      color: #fff;	
      }	

    &.active {
      font-weight: 700;
      color: #1F6ABC; }}	