.profile-container {
    margin: 0 auto 1em auto; 
    width: 50%;

    p {
        font-size: 18px;
    }

    .description {
        word-wrap: break-word;
    }
}

.inline {
    display: inline;
}

.edit-profile {
    float: right;
}

.file-upload {
    width: 100%; 
    text-align: left; }