// Place all the styles related to the Purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.purchase-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;

    a.name {
        color: white;
        text-decoration: underline;

        &:hover {
            color: navajowhite; }}

    .purchases {
        font-size: 18px;
        list-style: none; }

    .purchase {
        text-align: center;
        margin: 0 auto; }}