<h1>We are live</h1>

<div class="container">
    <% @sample.each do |user| %>
    <div class="user-card">
        <%= image_tag(user.avatar) %>
        <h3><%= user.name %></h3>
        <span>25$/h</span>
    </div>
<% end %>

</div>