<h1 class="mentor-heading">Mentor Category Will Go Here</h1>

<div class="container">
    <% @sample.each do |user| %>
    <div class="user-card">
        <%= link_to image_tag(user.avatar), profile_path %>
        <h3><%= link_to user.name, profile_path %></h3>
        <span>25$/h</span>
    </div>
<% end %>

</div>