<p id="notice"><%= notice %></p>


<% if current_user %>
    <h1>Your Mentor History</h1>
    <ul>
        <% @purchases.each do |purchase| %>
        <li>
            <%= "Put purchase mentor here | Followed by purchase price | Followed by contact number" %> 
        </li>
        <% end %>
    </ul>
<% end %>