<div class="devise-container">

<% if current_user %>
    <h1>Your Purchase History</h1>

    <% if @purchases.class == String %>
        <% @flash %>
        <ul>
            <li>There's nothing here.</li>
        </ul>
    <% else %>
        <ul>
            <% @purchases.each do |purchase| %>
            <li class="purchases">
                <%= image_tag Service.find(purchase.service_id).user.avatar_url %> <br>
                <%= link_to "Skill: #{purchase.service.skill.name} | Mentor: #{purchase.service.user.name} | $#{purchase.price}/h ", service_path(purchase.service.id) %>
                <%# TODO: remove the logic out of the view here %>
            </li>
            <% end %>
        </ul>
    <% end %>
<% end %>
</div>