<div class="devise-container">
<h1>Editing Service</h1>

<%= render 'form', service: @service, button: "Save Your Changes"  %>

<%= link_to 'Show', @service %> |
<%= link_to 'Back', services_path %>
</div>