/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
 // Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";

body {
    margin: 100px 0 0 0;
    padding: 0; }

.container1 {
    display: flex;

}

.container2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    align-items: flex-start;
}



.flash {
            border-radius: 4px;
            padding: 1em;
            width: 20%;
            margin: 5em auto 0;
            text-align: center;
            border: 1px solid lightcoral;
            color: lightcoral;
            background-color: linen;
}

// .alert {
//     border: 1px solid lightcoral;
//     color: lightcoral;
//     background-color: linen;
// }

// .notice {
//     border: 1px solid green;
//     color: green;
//     background: lightgreenl
// }