.user-card {
    margin: .5em;
    border: 1px solid black;

    img {
        display: block;
        margin: 3px;
    }

    h3 {
        display: inline;
        text-align: center;
        margin: 3px;
    }

    span {
        float: right;
        margin: 3px;
    }
}