<% flash.each do |name, message| %>
  <% if message.is_a? String %>
    <p style="color: <%= name == 'success' ? 'green' : 'lightcoral' %>" class='flash' > 
      <%= message %>
    </p>
  <% end %>
<% end %>